/* HEADER AND MENU */

.navbar {
	width: 100%;
	top: 0;
	position: fixed;
	background-color: #FFF;
	z-index: 2;
}

.navbar p {
	margin-top: 0;
	text-align: center;
}

a{
	text-decoration: none;
	font-weight: bold;
	color: black;
	display: inline-block;
	position: relative;
	padding-bottom: 2px;
	}


 a:after{
	content: '';
	display: block;
	margin: auto;
	height: 0.5px;
	width: 0px;
	padding-bottom: 2px;
	background: transparent;
	transition: width .3s ease, background-color .3s ease;
}


a:hover:after{
	width: 100%;
	background: black;
	padding-bottom: 2px;
	}


.logo { width: 0; height:0; }
.logo img {
	max-width: 0;
	margin-left: 1.5em;
	margin-top: 1em;
	width:5em;
	height: 7em;
}


.navbar p {
	margin-top: 0;
	text-align: center;
}


h1.center {
	text-align: center;
	font-size: 8.5em;
	font-family: arbonnie;
	font-weight: normal;
}



.logo { width: 0; height:0; }
.logo img { max-width: 0; }


span {
	font-weight: lighter;
	font-size: 65%;
}



.menu {
	width: 100%;
	text-align: center;

}

.logo { width: 0; height:0; }
.logo img { max-width: 0; }


p { text-align: center; }


.menu { width: 100%;
border-bottom: 1px solid black;}

.menu ul {
	list-style-type: none;
	margin:0.5em;
	padding: 0;
}


.menu li {
	display: inline-block;
	text-align: center;
	margin-right: 0.5em;
	margin-left: 0.5em;
}

/* CONTENT */

@font-face{
	font-family: arbonnie;
	src:url(../fonts/ARBONNIE.ttf);
}

.content-header { margin: 2em; }

.content {
	width: 100%;
	height: 20em;
	background-image: url('../images/aurora.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100% ;
}

.content-text {
	position: absolute;
	text-align: center;
	width: 100%;
	color: #FFF;
	margin-top: -3.4em;
}

.video-content {
	width: 100%;
	text-align: center;
}

.videoPlay { width: 100%;  }

h2 { text-align: center; }

h2.center{
font-family: arbonnie;
font-size: 2.5em;
margin-top: -3.25em;
margin-bottom: 0;
font-weight: normal;
}

hr{
	margin-left: auto;
	margin-right: auto;
	margin-top: -0.35em;
	padding: 0;
	width: 70%;
	background-color: #fff;
	 border: 0 none;
	 color: #fff;
	 height: 0.13em;
}

hr.hidden{
	clear: both;
	    visibility: hidden;
}

.content-header h2::after{
	content: "\2014";
	display: block;
}

.image-list {
	width: 100%;
	text-align: center;
}

.images {
	float:left;
	width:  50vw;
    height: 15em;
    background-repeat: no-repeat;
    background-size: cover;
}

.images h3 {
	position: absolute;
	width: 50%;
	color: #FFF;
	margin-top: 2em;
}

.images p { display: none; }
.images:hover p {
	display: block;
	position: absolute;
	color: #FFF;
	width: 45%;
	margin-top: 4em;
	text-align: left;
	padding: 0.6em;
	font-size: 0.9em;
	-webkit-animation: fadein 1s;
}


@-webkit-keyframes fadein {
    from { opacity:0; }
    to {  opacity:1; }
}

@-webkit-keyframes fadein {
    from { opacity:0; }
    to {  opacity:1; }
}
.images:hover .overlay  {
	background: rgba(0,0,0, 0.5);
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.overlay { height: 100%; width: 100%;  }

#img1 { background-image:url('../images/isbanan.png') }
#img2 { background-image:url('../images/luleaStad.png') }
#img3 { background-image:url('../images/ormberget.png') }
#img4 { background-image:url( '../images/nederluleaKyrka.png') }
#img5 { background-image:url('../images/naturRes.png') }
#img6 { background-image:url('../images/skargard.png') }

.images img { max-width: 100%; max-height: 100%;}

/* FOOTER */

.footer {
	margin-top: 3em;
	text-align: center;
	background-color: #E6E6E6
}

.footer ul {
	list-style-type: none;
	padding: 0;
	margin-top: -1em;
	padding-bottom: 0.5em;
	margin-bottom: 0;
}

.footer li {
	display: inline-block;
	text-align: center;
	margin-right: 1em;
	margin-left: 1em;
	margin-top: 1em;
	font-size: 0.8em;
}



h3.footer{
	padding-top: 1em;
<<<<<<< HEAD
	font-size: 1.1em;
=======
	margin-bottom: 0;
	border-top: 1px solid grey;
}

hr.black{
	margin-left: auto;
	margin-right: auto;
	margin-top: -0.35em;
	margin-bottom: 1em;
	padding: 0;
	width: 5%;
	background-color: black;
	 border: 0 none;
	 height: 0.13em;
>>>>>>> 8c7bcf76bed49a778656a6a7da1a72361b8467b2
}

.footer h3::after{
	content: "\2014";
	display: block;
}
