/* HEADER AND MENU */

.navbar {
	width: 100%;
	height: 9.5em;
	top: 0;
}

.navbar p {
	margin-top: 0;
	text-align: center;
}

a{
	text-decoration: none;
	font-weight: bold;
	color: black;
	display: inline-block;
	position: relative;
	padding-bottom: 2px;
<<<<<<< HEAD
	}

	a:after{
		content: '';
		display: block;
		margin: auto;
		height: 0.5px;
		width: 0px;
		padding-bottom: 2px;
		background: transparent;
		transition: width .3s ease, background-color .3s ease;
	}
=======
}

a:after{
	content: '';
	display: block;
	margin: auto;
	height: 0.5px;
	width: 0px;
	padding-bottom: 2px;
	background: transparent;
	transition: width .3s ease, background-color .3s ease;
}
>>>>>>> 150c51dc9a8176a1f3c63b20c72ecd73a52a4fc3

a:hover:after{
	width: 100%;
	background: black;
	padding-bottom: 2px;
<<<<<<< HEAD
	}
=======
}
>>>>>>> 150c51dc9a8176a1f3c63b20c72ecd73a52a4fc3

.logo { width: 0; height:0; }
.logo img {
	max-width: 0;
	margin-left: 1.5em;
	margin-top: 1em;
	width:5em;
	height: 7em;
}

<<<<<<< HEAD
.navbar p {
	margin-top: 0;
	text-align: center;
}

h1 { text-align: center;}

h1.center {
	text-align: center;
	font-size: 7em;
	margin-top: -0.6em;
	font-family: 'Architects Daughter', cursive;
	font-family: 'Amatic SC', cursive;
}

span {
	font-weight: lighter;
	font-size: 65%;
}


.logo { width: 0; height:0; }
.logo img { max-width: 0; }

h1 { text-align: center;}

span {
	font-weight: lighter;
	font-size: 65%;
}

p { text-align: center; }

.menu {
	width: 100%;
	text-align: center;

}

.menu ul {
	list-style-type: none;
	margin-top: 1em;
	margin-bottom: 0.6em;

 }
=======
h1 { text-align: center;}

.logo { width: 0; height:0; }
.logo img { max-width: 0; }


p { text-align: center; }

.menu { width: 100%; }

.menu ul {
	list-style-type: none;
	margin:0.5em;
	padding: 2;
}
>>>>>>> 150c51dc9a8176a1f3c63b20c72ecd73a52a4fc3

.menu li {
	display: inline-block;
	text-align: center;
	margin-right: 3em;
	margin-left: 3em;
}

/* CONTENT */

.content-header { margin: 2em; }

.content {
	width: 100%;
	height: 20em;
	background-image: url('../images/aurora.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100% ;
}

.content-text {
	margin-top: 5em;
	position: absolute;
	text-align: center;
	width: 100%;
	color: #FFF;
}

.video-content {
	width: 100%;
	text-align: center;
}

.videoPlay { width: 100%;  }

h2 { text-align: center; }

h2.center{
font-family: 'Kalam', cursive;
font-size: 2em;
margin-top: -2em;
margin-bottom: 0;
}


.content-header h2::after{
	content: "\2014";
	display: block;
}

.image-list {
	width: 100%;
	text-align: center;
}

.images {
	float:left;
	width:  50vw;
    height: 15em;
    background-repeat: no-repeat;
    background-size: cover;
}

.images h3 {
	position: absolute;
	width: 50%;
	color: #FFF;
	margin-top: 2em;
}

.images p { display: none; }
.images:hover p {
	display: block;
	position: absolute;
	color: #FFF;
	width: 45%;
	margin-top: 4em;
	text-align: left;
	padding: 0.6em;
	font-size: 0.9em;
	-webkit-animation: fadein 1s;
}


@-webkit-keyframes fadein {
    from { opacity:0; }
    to {  opacity:1; }
}

@-webkit-keyframes fadein {
    from { opacity:0; }
    to {  opacity:1; }
}
.images:hover .overlay  {
	background: rgba(0,0,0, 0.5);
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.overlay { height: 100%; width: 100%;  }

#img1 { background-image:url('../images/isbanan.png') }
#img2 { background-image:url('../images/luleaStad.png') }
#img3 { background-image:url('../images/ormberget.png') }
#img4 { background-image:url( '../images/nederluleaKyrka.png') }
#img5 { background-image:url('../images/naturRes.png') }
#img6 { background-image:url('../images/skargard.png') }

.images img { max-width: 100%; max-height: 100%;}

/* FOOTER */

.footer {
	margin-top: 4em;
	border: 1px solid #000;
	text-align: center;
}
