@media screen and (min-width: 480px) {
	.menu ul {
		text-align: center;
	}

	.logo { width: 6.5em; ; margin-right: -10em;  }

	.logo img { max-width: 7.2em; }

	h1 {
		text-align: left;
	}

	.title { margin-left: 10em; }
	.images { width: 50%; }
	.content-text p { margin: 1em 5em 1em 5em; }
}

@media screen and (min-width: 780px) {
	.navbar p { text-align: left; }

	.menu li { 
		padding-right: 7em;
	}

	.images {
		width: 30%;
		margin: 0.5em;
		float: none;
		display: inline-block;
	}

	.image-list {
		text-align: center;
	}

	.images h3 { width: 30%; }

	.content-header { padding: 3em; }

	.images:hover p { width: 30%; }
}

