@media screen and (min-width: 480px) {
	.menu ul {
		text-align: center;
		padding: 0;
	}

	.menu li {
		display: inline-block;
		text-align: center;
		margin-right: 2em;
		margin-left: 2em;
	}

	.footer li {
		display: inline-block;
		text-align: center;
		margin-right: 2em;
		margin-left: 2em;
	}

	.content-text {

		margin-top: -2.4em;
	}

	.logo { width: 7.1em; ; margin-right: -10em;  }

	.logo img { max-width: 7.2em; }





	.title { margin-left: 10em; }
	.images { width: 50%; }

}

@media screen and (min-width: 780px) {
	.navbar p { text-align: left; }

	.menu li {
		display: inline-block;
		text-align: center;
		margin-right: 3em;
		margin-left: 3em;
	}

	.images {
		width: 30%;
		margin: 0.5em;
		float: none;
		display: inline-block;
	}

	.image-list {
		text-align: center;
	}

	.images h3 { width: 30%; }

	.content-header { padding: 3em; }

	.content-text {

		margin-top: -1.8em;
	}

	.images:hover p { width: 28.5%; text-align: center; }

	.videoPlay { width: 80%; }
}

p.center {
	margin-top: 0em;
}
