@media screen and (min-width: 480px) {
	.menu ul {
		text-align: center;
	}

	.logo { width: 10.1em; ; margin-right: -10em;  }

	.logo img { max-width: 10.1em;}

	h1 {
		text-align: left;}



@media screen and (min-width: 780px) {

.navbar p { text-align: left; }

.menu li {
	padding-right: 7em;
}

.images {
	width: 90%;
	margin: 0 auto;
}
.images li {
	width: 30.71%;
	margin: 0.5em;
}

.content-header { padding: 3em; }
}

.logo img { max-width: 10.1em;}


.title { margin-left: 12em; }
